/DestinationServerConfig.json
/SourceServerConfig.json
/Default_SyncJobSettings.json
/User_SyncJobSettings.json
/LoginTables_SyncJobSettings.json
/remove/mysql
/remove/mysqldump
.idea/*
sqls/*
/remove/*
